.btn {
  display: block;
  padding: 1em 1em 1em 1em
}

#quote {
  display: none;
}


#img {
  width: 40%;
  display: none;
}
.jumbotron{
  background-color: #CCCCCC;
}

h2 {
  text-align: center;

}
.textcolor {
  color: white;
}

.item {
  text-align: center;
}

.background{
  background-color: black;
}

.imgcenter{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}
